<!DOCTYPE html>
<html>
  <head>
     
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
     .material-symbols-outlined {
       font-variation-settings:
       'FILL' 0,
       'wght' 400,
       'GRAD' 0,
       'opsz' 48
     }
     </style>
  </head>
  <body>
      <div class="header1">
        
           <div class="scheme"><span class="material-symbols-outlined">
               credit_card
               </span>SIGN UP & GET 15% OFF</div>
           <div class="scheme"><span class="material-symbols-outlined">
               local_shipping
               </span>FREE DELIVERY FOR ALL ORDERS NOW</div>
           <div class="scheme"><span class="material-symbols-outlined">
               currency_exchange
               </span>FREE RETURNS</div>
      </div>
      <div class="header2">
           <div class="indexlogo">
                 <img src="/images/indexlogo.jpg" width="70">
           </div>
           <div class="indexcategory">
              <a href="http://localhost:3000/category/mens"><p class="category"><b>MEN</b></p></a>  
              <a href="http://localhost:3000/category/women"><p class="category"><b>WOMEN</b></p></a>  
                <a href="http://localhost:3000/category/kids"><p class="category"><b>KIDS</b></p></a>  
                <a><p class="category">SPORTS</p></a>  
                <a><p class="category">BRANDS</p></a>  
                <a><p class="category">COLLECTION</p></a>  
                <a><p class="category">OUTLETS</p></a>  
           </div>
           <div class="indexsearch">
                 <div class="info">
                      <div class="infobutton">HELP</div>
                      <div class="infobutton">RETURNS</div>
                      <div class="infobutton">ORDER TRACKING</div>
                      <div class="infobutton">SIGN UP</div>

                 </div>
                 <div class="search">
                      <div class="searchbox">
                               <input type="text" placeholder="search" class="searchindex">
                      </div>
                      <div class="utility"></div>
                 </div>
           </div>
      </div>
      <div class="banner">
         <video loop height='850'autoplay muted>
          <source src="/images/bannervid.mp4" >
         </video>
      </div>
      <div class="whatareyoulookingfor">
          <div class="headerwylf"><h1 style="font-family: 'Roboto', sans-serif;color: white;"><b>WHO ARE YOU SHOPPING FOR?</b></h1></div>
          <div class="mainwylf">
               <div class="waylf"><div class="men centeralign" style="font-family: 'Roboto', sans-serif;">MEN</div></div>
               <div class="waylf"><div class="women centeralign"style="font-family: 'Roboto', sans-serif;">WOMEN</div></div>
               <div class="waylf"><div class="kids centeralign"style="font-family: 'Roboto', sans-serif;">KIDS</div></div>
          </div>
         
      </div>
      <div class="whatshot">
              <div class="headerwh" style="font-family: 'Roboto', sans-serif;"><h1>WHAT'S HOT</h1></div>
              <div class="mainwh">
                    <div class="whbanner" ><img src="/images/whbanner.png"><br><p style="font-family: 'Roboto', sans-serif;"><b>FIFA WORLD CUP 2022™ KITS</b></p><p>It's time to show your colours. Get united by the love of the beautiful game.</p><br><h3>Shop Now</h3></div>
                    <div class="whbanner"><img src="/images/whbanner2.png"><br><p style="font-family: 'Roboto', sans-serif;"><b>Hu NMD Animal Print Amber</b></p><p>Vibrant amber animal print meets Pharrell's engineered footwear.</p><br><h3>Shop Now</h3></div>
                    <div class="whbanner"><img src="/images/whbanner3.png"><br><p style="font-family: 'Roboto', sans-serif;"><b>MADE WITH NATURE</b></p><p>Made with nature. Move with nature.</p><br><h3>Shop Now</h3></div>
                    <div class="whbanner"><img src="/images/whbanner4.png"><br><p style="font-family: 'Roboto', sans-serif;"><b>COMFORT UNLOCKS POSSIBILITIES</b></p><p>Unlock your possibilities and inner confidence by finding your ultimate state of comfort.</p><br><h3>Shop Now</h3></div>

              </div>
      </div>
  </body>
</html>
