<!DOCTYPE html>
<html>
  <style>
    body{
    background-color: 
    #274472;
}
.container{
    background-color: 
    #41729F;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
input{
     position: relative;
     top:-60px;
    background-color: #5885AF;
    margin-top: 150px;
}
.heading{
  position: relative;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 120px;
}
#upperhead{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
   position: relative;
    top:50px;
  }
  </style>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <center>
    <form action="/Employeestatus/result">
    <div class="container">
      <center>
         <div class="heading"><p id="upperhead">Enter Employee Id</p></b></div>
      <input type="text" name="employee_id">
      <input type="submit" value="Proceed">
    </center>
    </div>
    </form>
  </center>
  </body>
</html>
